body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05070b;
    user-select: none;
}

  .blob {
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50% 50% 40% 60% / 60% 40% 60% 40%;
    animation: deformar 8s ease-in-out infinite, colorBlob 10s ease-in-out infinite alternate;
    filter: blur(60px);
    opacity: 0.5;
    pointer-events: none;
  }

  .blob:nth-child(1) {
    top: 10%;
    left: 20%;
  }

  .blob:nth-child(2) {
    bottom: -200px;
    right: 15%;
  }

  .blob:nth-child(3) {
    bottom: -500px;
    left: 15%;
  }

  @keyframes deformar {
    0% {
      border-radius: 50% 50% 40% 60% / 60% 40% 60% 40%;
      transform: scale(1) rotate(0deg);
    }
    50% {
      border-radius: 60% 40% 60% 40% / 50% 60% 40% 50%;
      transform: scale(1.1) rotate(180deg);
    }
    100% {
      border-radius: 50% 50% 40% 60% / 60% 40% 60% 40%;
      transform: scale(1) rotate(360deg);
    }
  }

  @keyframes colorBlob {
    0%   { background: rgba(255, 255, 255, 0.2); }
    50%  { background: rgba(255, 182, 193, 0.3); }
    100% { background: rgba(173, 216, 230, 0.3); }
  }

.container {
    display: flex;
    flex-wrap: wrap;
    width: 740px;
}

.margines-arriba-abajo {
    height: 50px;
    width: 700px;
}

.rectangulo-arriba {
    width: 500px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.texto-rectangulo-arriba {
    width: 650px;
    text-align: left;
    font-size: 17px;
    font-weight: 900;
    font-family: system-ui, sans-serif;
    margin-left: 25px;
    margin-top: 75px;
    color: #fff;
}

.nombre {
    font-size: 40px;
}

.edad {
    font-size: 17px;
    font-weight: 400;
}


.rectangulo {
    width: 500px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rectangulo-con-efectos {
    width: 500px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rectangulo-con-efectos:hover {
    transform: scale(0.9);
}

.cuadrado {
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cuadrado-con-efectos {
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cuadrado-con-efectos:hover {
    transform: scale(0.9);
}


.cuadrado-chico-con-efectos {
    width: 165px;
    height: 165px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cuadrado-chico-con-efectos:hover {
    transform: scale(0.9);
}


.rectangulo-info {
    width: 720px;
    height: 120px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.texto-rectangulo {
    width: 650px;
    text-align: left;
    font-size: 17px;
    font-weight: 800;
    font-family: system-ui, sans-serif;
}

.imagen-centrada-1 {
    height: 50px;
    width: auto;
}

.imagen-centrada-2 {
    height: 200px;
    width: 500px;
}

.imagen-centrada-3 {
    height: 200px;
    width: 500px;
}
.imagen-centrada-4 {
    width: 220px;
}

.minitexto-centrado {
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    font-family: system-ui, sans-serif;
}

.minitexto-numero {
    font-size: 35px;
    font-weight: 900;
}


@media screen and (max-width: 768px) {
    .rectangulo-arriba,
    .cuadrado,
    .cuadrado-con-efectos {
        margin-left: 15px;
        width: 350px;
    }


    .rectangulo-info {
        margin-left: 15px;
        width: 350px;
        height: 220px;
    }

    .texto-rectangulo-arriba {
        margin-left: 25%;
        margin-top: 2%;
    }

    .texto-rectangulo {
        width: 300px;
    }

    .rectangulo,
    .rectangulo-con-efectos {
        display: none;
    }
}





#reproductor {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #111;
    padding: 10px 15px;
    border-radius: 12px;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 9999;
    font-family: sans-serif;
  }

  #toggleBtn {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
  }

  #toggleBtn:hover {
    background-color: #555;
  }

  @media screen and (max-width: 768px) {
    .container {
       width: 380px;
    }

    .blob {
        display: none;
    }

    #reproductor {
        padding: 5px 10px;
        font-size: 10px;
        bottom: 10px;
    }

    #toggleBtn {
        padding: 6px 10px;
      }
}
