body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05070b;
    user-select: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 740px;
}

.margines-arriba-abajo {
    height: 50px;
    width: 700px;
}

.rectangulo-arriba {
    width: 500px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.texto-rectangulo-arriba {
    width: 650px;
    text-align: left;
    font-size: 17px;
    font-weight: 900;
    font-family: system-ui, sans-serif;
    margin-left: 25px;
    margin-top: 75px;
    color: #fff;
}

.nombre {
    font-size: 40px;
}

.edad {
    font-size: 17px;
    font-weight: 400;
}


.rectangulo {
    width: 500px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rectangulo-con-efectos {
    width: 500px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rectangulo-con-efectos:hover {
    transform: scale(0.9);
}

.cuadrado {
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cuadrado-con-efectos {
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cuadrado-con-efectos:hover {
    transform: scale(0.9);
}

.rectangulo-info {
    width: 720px;
    height: 120px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.texto-rectangulo {
    width: 650px;
    text-align: left;
    font-size: 17px;
    font-weight: 800;
    font-family: system-ui, sans-serif;
}

.imagen-centrada-1 {
    height: 50px;
    width: auto;
}

.imagen-centrada-2 {
    height: 200px;
    width: 500px;
}

.imagen-centrada-3 {
    height: 200px;
    width: 500px;
}
.imagen-centrada-4 {
    width: 220px;
}

.minitexto-centrado {
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    font-family: system-ui, sans-serif;
}

.minitexto-numero {
    font-size: 35px;
    font-weight: 900;
}


@media screen and (max-width: 768px) {
    .rectangulo-arriba,
    .cuadrado,
    .cuadrado-con-efectos {
        margin-left: 15px;
        width: 350px;
    }


    .rectangulo-info {
        margin-left: 15px;
        width: 350px;
        height: 220px;
    }

    .texto-rectangulo-arriba {
        margin-left: 25%;
        margin-top: 2%;
    }

    .texto-rectangulo {
        width: 300px;
    }

    .rectangulo,
    .rectangulo-con-efectos {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
       width: 380px;
    }
}